<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"/>
	</startup-->

	<runtime>        
		<!--All assemblies in Maya are fully trusted so there's no point generating publisher evidence-->
		<generatePublisherEvidence enabled="false"/>    

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="c:\Program Files\Autodesk\Maya2014\bin"/>
		</assemblyBinding>
	</runtime>

</configuration>
